---
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/Section.astro";
---

<Layout title='Privacy Policy for Dominos RD: Puntos'>
  <main>
    <div class='max-w-2xl mx-auto mt-4 pb-4'>
      <h1>Privacy Policy for Dominos RD: Puntos</h1>
      <p class='text-gray-500'>Last updated: June 11, 2024</p>
      <Section title='Privacy Policies'>
        <h3 class='font-medium mt-1'>What information we collect?</h3>
        <p>
          Application does not collect personal information like name, surname,
          age, date of birth, etc.
        </p>
        <p>
          All stored information is locally on your phone, no remote database
          used.
        </p>
      </Section>

      <Section title='Third Party Privacy Policies'>
        <p>
          Dominos RD: Puntos's Privacy Policy does not apply to other
          advertisers or websites. Thus, we are advising you to consult the
          respective Privacy Policies of these third-party ad servers for more
          detailed information. It may include their practices and instructions
          about how to opt-out of certain options.
        </p>
      </Section>
      <Section title="Children's Information">
        <p>
          Another part of our priority is adding protection for children while
          using the internet. We encourage parents and guardians to observe,
          participate in, and/or monitor and guide their online activity.
        </p>
        <p>
          Dominos RD: Puntos does not knowingly collect any Personal
          Identifiable Information from children under the age of 13. If you
          think that your child provided this kind of information on our app, we
          strongly encourage you to contact us immediately and we will do our
          best efforts to promptly remove such information from our records.
        </p>
      </Section>
      <Section title='Online Privacy Policy Only'>
        <p>
          This Privacy Policy applies only to our online activities and is valid
          for users of our app with regards to the information that they shared
          and/or collect in Dominos RD: Puntos. This policy is not applicable to
          any information collected offline or via channels other than this app.
        </p>
      </Section>
      <Section title='Consent'>
        <p>
          By using our <b>App</b>, you hereby consent to our Privacy Policy and
          agree to its Terms and Conditions.
        </p>
      </Section>
      <Section title='Contact'>
        <p>
          To contact me please use:
          <a
            class='font-bold'
            href='mailto:franklinomarflores@gmail.com'
            >franklinomarflores@gmail.com</a
          >
        </p>
      </Section>
    </div>
  </main>
</Layout>
<style>
  h1 {
    @apply text-4xl font-bold tracking-tight;
  }
  p {
    @apply text-sm my-2 text-pretty;
  }
</style>
